<div class="page-header">
	<h1>All Contacts</h1>
</div>

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Name</th>
				<th>Email Address</th>
				<th>Phone Number</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Karan Bromwich</td>
				<td>karan@example.com</td>
				<td>01234 56734</td>
				<td><a href="#" class="btn btn-default btn-xs">View</a></td>
			</tr>
			<tr>
				<td>Declan Proud</td>
				<td>declan@example.com</td>
				<td>01234 567890</td>
				<td><a href="#" class="btn btn-default btn-xs">View</a></td>
			</tr>
		</tbody>
	</table>
</div>